<!-- statistiques-blocs.component.html -->
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
                <button type="button" class="btn btn-primary" (click)="goBack()">
                    Retour à la liste des blocs
                  </button>
              <h4 class="title">Statistiques des Blocs</h4>
            </div>
            <div class="content">
              <!-- Ajoutez un élément <canvas> pour afficher le graphique -->
              <canvas id="myChart" width="400" height="200"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  