<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Détails du Bloc</h4>
          </div>
          <div class="content">
            <div *ngIf="bloc">
              {{ bloc | json }}
              <h3>{{ (bloc$ | async)?.nomBloc }}</h3>
              <p>Capacité: {{(bloc$ | async)?.capaciteBloc }}</p>
              
              
              <div *ngIf="bloc.foyer">
                <p>Nom du Foyer: {{ (bloc$ | async)?.foyer?.nomFoyer }}</p>
                <p>Capacité du Foyer: {{ (bloc$ | async)?.foyer?.capaciteFoyer }}</p>

              </div>
              
            </div>
            <div *ngIf="!bloc ">Aucun détail disponible.</div>
            <button type="button" class="btn btn-primary" (click)="goBack()">
              Retour à la liste des blocs
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
